// nextflow.config

profiles {
  quality_control {
  
    // 0) Global defaults for your script
    params {
      read1     = '/zfs/omics/projects/caulerpa/ab_metagenomics_250324/data/Cpro_R1.fq.gz'
      read2     = '/zfs/omics/projects/caulerpa/ab_metagenomics_250324/data/Cpro_R2.fq.gz'
      adapters  = '/zfs/omics/projects/caulerpa/ab_metagenomics_250324/qc/adapters.fa'
      nanopore  = '/zfs/omics/projects/caulerpa/ab_metagenomics_250324/data/nanopore_fastq_pass/nanopore_FAN44009.fastq'
      outdir    = '/zfs/omics/projects/caulerpa/ab_metagenomics_250324/'
    }

    // 1) Enable Singularity for this profile
    singularity {
      enabled    = true
      autoMounts = true
    }

    // 2) Process defaults for this profile
    process {
      executor       = 'slurm'
      queue          = 'all'
      cpus           = 8
      memory         = '180 GB'
      time           = '7h'
      scratch        = true
      clusterOptions = '-w omics-cn001'

      // Absolute path to your Singularity image
      container      = '/zfs/omics/projects/caulerpa/ab_metagenomics_250324/read_qc_pipeline/read_qc.sif'
    }

  } // end quality_control
} // end profiles

